div {
    width: 500px;
    height: 300px;
    border: 1px solid #222;
    margin-bottom: 30px;
  }
  .grad1 {
    background: repeating-linear-gradient(
      yellow,
      white 10px,
      black 10px,
      black 30px
    );
  }
  .grad2 {
    background: repeating-radial-gradient(
      circle,
      white,
      white 10%,
      #cccc 10%,
      #222 20%
    );
  }